body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

h2 {
    color: orange;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: #00c6ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.success {
  background: rgba(0,255,100,0.2);
}